body{
background-color: #fff;
width: 1200px; 
font-size: 16px;
line-height: 22px;
font-family: 'Roboto', sans-serif;
margin: 0 auto;

}

.clearfix{
content: "";
display: table;
clear: both;
}

.geo{
outline:1px solid red;
height: 416px;
background: #eee url("../img/map.png") center;
position: relative;
}
.address{
	width:200px;
	padding: 10px 20px 25px 20px;
	background: #fff;
	position: absolute;
	top: 90px;
	left:160px;
	color: #989898;
}
.address-title{
	text-transform: uppercase;
	line-height: 30px;
	color: #6b6b6b;
}
.address-title span{
	font-weight: bold;
	color: #000;
	}
.write-us{
	display: block;
	text-decoration: none;
	color:white;
	background-color: #fb565a;
	/*width: 100%;*/
	text-align: center;
	padding: 10px 40px;
	border-radius: 3px; 
	text-transform: uppercase;
	font-size: 12px;
	line-height: 18px;
	}
	.geo a{
		margin-top:25px;

	}
	


.circle{
	width: 231px;
	height: 190px;
	position: absolute;
	top:113px; 
	right: 128px;
	background:url("../img/point-logo.png") no-repeat center;
	
}
/*.point{
	position: absolute;
	top: 225px;
	right: 230px;
	z-index: 1;

}
*/