body{
background-color: #fff;
width: 1200px; 
font-size: 16px;
line-height: 22px;
font-family: 'Roboto', sans-serif;
margin: 0 auto;
}

.clearfix{
content: "";
display: table;
clear: both;
}
.partners{
	outline: 1px solid red;
	width: 880px;
	padding: 0 10px;
	margin:0 auto;
	height: 168px;
	font-size: 0;
	border-bottom: 2px solid #eee;
}
.logo{
	width: 210px;
	
	padding: 0 10px 0 20px;
	outline: 1px solid yellow;
	display: inline-block;
	vertical-align: middle;
	/*text-align: center;*/
	margin-right: 80px;
	margin-top: 35px;
	margin-bottom:35px;

}
.logo:last-child{
	margin-right: 0;
}